//- Start Page
extends dashboard

//- Change Page Content
block pageContent
    h1.headline.p-relative.mt-20.mr-20.mb-40.ml-40 Users
    .d-flex.justify-content
    .table-responsive
        table
            thead
                tr
                    th(scope="col") User Name
                    th(scope="col") User Email
                    th(scope="col") Garage Name
                    th(scope="col") Number Of Slots Reserved
            tbody
                each user in users 
                    - const garageNames = [...new Set(user.reservedSlots.map(slot => slot.garageName))];
                    - const numOfSlotsReserved = user.reservedSlots.length;
                    tr(id=`${user._id}`)
                        td.username= user.username
                        td.email= user.email
                        td.garageNames= garageNames.join(', ')
                        td.numOfSlotsReserved= numOfSlotsReserved
